<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <p class="copyright">
        © Copyright 2015-2016, Onroerend Erfgoed.<br>
        Gemaakt met <a href="http://sphinx-doc.org/">Sphinx</a>
      </p>
      <p class="pull-right">
          <a href="#">Terug naar boven</a>
      </p>
    </div>
  </footer>
<!-- end footer -->
