
<!-- header -->

<!-- embed -->
<div class="temp-embed"></div>

<!-- large header bg image -->
<div class="bgimage"></div>

<!-- wrapper & responsive navigation -->
<div class="wrapper clearfix">
  <div class="main-navigation-inner clearfix inner">



<!-- logo -->
<div class="logo-block">
  <a href="{{ pathto(master_doc) }}">
    <div class="logo-block-title"><h1>{{project}}</h1></div>
    <img src="{{ pathto('_static/img/pyoes/OE-vlaanderen-logo.png', 1) }}" width="65">
    <h2>Vlaanderen</h2>
    <h4>is Erfgoed</h4>
  </a>
</div>

  </div>
</div>

<div class="header-border"></div>

<!-- end header -->


